.footer {
  font-size: 14px;

  .container {
    justify-content: space-between;
    border-top: 1px solid var(--light-gray);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__link {
    display: inline-block;
    margin-left: 12px;
    font-weight: 500;
    letter-spacing: 0.08em;
    transition: .35s;
    color: var(--color-primary);

    &:hover,
    &:focus {
      color: var(--color-secondary);
    }

  }

  .offer a {
    margin-left: 32px;
    transition: .35s;

    &:hover,
    &:focus {
      color: var(--color-secondary);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  @include respond-to($md) {
    .container {
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
    }
    .copyright {
      width: 100%;
      order: 1;
      text-align: center;
      padding-top: 15px;
    }
  }
  @include respond-to($xs) {
    .container {
      justify-content: center;
    }
    .production{
      margin-bottom: 15px;
    }
  }
}